
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;

}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #8ec5fc;


}
.quiz-section{
    width: 50%;
    height: auto;
        background-color: #fff;
        border-radius: 0.5rem;
            -webkit-border-radius:O.5rem;
            -moz-boerder-radius:0.5rem;
            -ms-border-radius:0.5;
            -o-border-radius:0.5rem;
            box-shadow: rgba(99,99,99,0.5) 0px 2px 8px 0px;

}
h1{
    font-size: 4.4rem;
    text-align: center;
    color: red;
}

.quiz-question{
    font-size: 3.4rem;
    padding:  4rem 5rem ;

}
ul{
    display: flex;
    justify-content: cen;

    align-items: ce;

    flex-direction: column;
    gap: 2rem;
    padding: 4rem 5rem;
}
li{
    list-style: none;
    min-width: 40%;
    min-height: 7rem;
    border-radius: 7rem;
    border-radius: 7rem;
    border: 0.2rem solid rgb(224,224,224);
    padding: 0 7rem 0 3rem;
    -webkit-border-radius:O.5rem;
            -moz-boerder-radius:0.5rem;
            -ms-border-radius:0.5;
            -o-border-radius:0.5rem;
            font-size: 1.8rem;
            font-weight: bold;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            }
label{
    padding-left: 1rem;

}
input[type="radio"]{
    width: 20px;
    height: 20px;

}

.btn{
    padding: 2rem 5rem;
    cursor: pointer;

}

button{
    padding:  0 5rem;
    height: 5rem;
    border-radius: 5rem;
    -webkit-border-radius:O.5rem;
            -moz-boerder-radius:0.5rem;
            -ms-border-radius:0.5;
            -o-border-radius:0.5rem;
            background-color: #7090e7;
            border: none;
            color: #fff;
            font-size: 1.5rem;
    cursor: pointer;


}
.result{
    width: 100%;
    height: auto;
    padding: 5rem;
    background-color: #fff;
    border-radius: 5rem;
    -webkit-border-radius:O.5rem;
            -moz-boerder-radius:0.5rem;
            -ms-border-radius:0.5;
            -o-border-radius:0.5rem;
            box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            align-items: center;

}
.result h2,
.score{
    font-size: 3.4rem;
}
.result p{
    font-size: 2rem ;
}